*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-body: #EBEBEB;
    --color-primary: #4D6CE1;
}

html {
    scroll-behavior: smooth;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 700;
}

.input:focus {
    outline: none;
}

.color-gray {
    color: #BCBCBC;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--color-white);
}

.main__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}



/* HEADER */

.header {
    background-color: var(--color-body);
    border-bottom: 8px #DDDDDD solid;
}

.header__container {
    width: 100%;
    height: 80px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo__img {
    height: 17px;
}

.logo__text {
    text-align: center;
    color: #4C5866;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    column-gap: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.nav__link {
    color: #4C5866;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--active {
    color: #567AFF;
}


/* FOOTER */

.footer__inner-top {
    background-color: var(--color-body);
    border-top: #DDDDDD 8px solid;
}

.footer__container {
    width: 100%;
    height: 72px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

}

.footer__icons {
    width: 80px;
    margin-right: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icon {
    height: 24px;
}

.footer__inner-bot {
    width: 100%;
    height: 28px;
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: end;
}

.footer__text {
    text-transform: uppercase;
    font-size: 12px;
    color: #4C5866;
}


/* MAIN START*/

.section-start__heading {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    background-image: url(../icons/clouds_heading.svg), linear-gradient(229deg, #6888FF 12.77%, #6888FF 12.78%, #5E80FF 73.11%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.heading__title {
    font-size: 48px;
    text-align: center;
    color: var(--color-white);
    margin: 0;
}

.heading__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading__btn-from-shablon {
    width: 160px;
    height: 50px;
    background-color: var(--color-white);
    box-shadow: 0px 5px 15px 0px rgba(116, 104, 255, 0.20);
}

.heading__btn-new-shablon {
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: 1px #A0B4FF solid;
    color: var(--color-white);
}

.section-start__description {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../icons/clouds.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.description__text-wrapper {
    width: 360px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.description__subtitle {
    font-size: 36px;
    font-weight: 700;
    color: #3D4F9F;
}

.description__text {
    font-size: 14px;
    color: #4C5866;
    line-height: 200%;
}

.description__btn-wrapper {
    width: 190px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
}

.description__btn-choice {
    width: 190px;
    height: 60px;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 5px 15px 0px rgba(116, 104, 255, 0.20);
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
}


/* MAIN PASS HUMAN*/

.section-pass-human {
    height: 660px;
    background-image: url(../icons/clouds.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-pass-human__wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    padding-top: 30px;
}

.section-pass-human__title {
    font-size: 36px;
    text-align: center;
    color: #3D4F9F;
    margin: 0;
}

.section-pass-human__btn-wrapper-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-pass-human__btn-single {
    width: 160px;
    height: 50px;
    background-color: #567AFF;
    color: var(--color-white);
    filter: drop-shadow(0px 5px 15px #6480E8);
}

.section-pass-human__btn-temporary {
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: 1px #A0B4FF solid;
    color: #567AFF;
    box-shadow: 0px 5px 15px 0px rgba(116, 104, 255, 0.20);
}

.section-pass-human__form {
    width: 520px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px 0px #F3F5FA;
}

.section-pass-human__item-wrapper {
    width: 440px;
    height: 60px;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: var(--color-body);
    display: flex;
}

.section-pass-human__item {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-pass-human__text {
    color: #BCBCBC;
}

.section-pass-human__input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #565F82;
}

.section-pass-human__btn-input {
    display: flex;
    justify-self: center;
    align-items: center;
}

.section-pass-human__btn {
    width: 190px;
    height: 60px;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 5px 15px 0px rgba(116, 104, 255, 0.20);
}


/* MAIN PASS AVTO*/

.section-pass-avto {
    height: 820px;
    background-image: url(../icons/clouds.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-pass-avto__wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    padding-top: 30px;
}

.section-pass-avto__title {
    font-size: 36px;
    text-align: center;
    color: #3D4F9F;
    margin: 0;
}

.section-pass-avto__btn-wrapper-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-pass-avto__btn-single {
    width: 160px;
    height: 50px;
    background-color: #567AFF;
    color: var(--color-white);
    filter: drop-shadow(0px 5px 15px #6480E8);
}

.section-pass-avto__btn-temporary {
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: 1px #A0B4FF solid;
    color: #567AFF;
    box-shadow: 0px 5px 15px 0px rgba(116, 104, 255, 0.20);
}

.section-pass-avto__form {
    width: 520px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px 0px #F3F5FA;
}

.section-pass-avto__item-wrapper {
    width: 440px;
    height: 60px;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: var(--color-body);
    display: flex;
}

.section-pass-avto__item {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-pass-avto__text {
    color: #BCBCBC;
}

.section-pass-avto__input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #565F82;
}

.section-pass-avto__btn-input {
    display: flex;
    justify-self: center;
    align-items: center;
}

.section-pass-avto__btn {
    width: 190px;
    height: 60px;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0px 5px 15px 0px rgba(116, 104, 255, 0.20);
}

/* MAIN LOG IN */

.section-log-in {
    height: 660px;
    padding-top: 50px;
    background-image: url(../icons/clouds.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-log-in__wrapper {
    width: 360px;
    margin: 0 auto;
}

.section-log-in__form {
    width: 360px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px 0px #F3F5FA;
}

.section-log-in__input {
    width: 280px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-bottom: 1px #D0CECE solid;
}

.section-log-in__btn {
    width: 280px;
    height: 60px;
    background-color: #D9D9D9;
    color: #565F82;
    border: 1px #D0CECE solid;
    box-shadow: 0px 5px 15px 0px rgba(116, 104, 255, 0.20);
}


/* MAIN PASS LIST */

.section-pass-list {
    height: 820px;
    background-color: var(--color-white);
    padding-top: 40px;
}

.section-pass-list__search-wrapper {
    position: relative;
}

.section-pass-list__search-wrapper--mb {
    margin-bottom: 20px;
}

.section-pass-list__search-icon {
    position: absolute;
    left: 10px;
    top: 2px;
}

.section-pass-list__search {
    width: 100%;
    border: none;
    padding-left: 40px;
    border-bottom: 1px #D0CECE solid;
    color: #565F82;
}

.section-pass-list__title {
    font-size: 48px;
    color: #3D4F9F;
    margin: 0;
}

.section-pass-list__title--mb {
    margin-bottom: 20px;
}

.section-pass-list__filter {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.section-pass-list__filter--mb {
    margin-bottom: 35px;
}

.section-pass-list__filter-text {
    font-size: 16px;
    color: #3D4F9F;
    margin-right: 16px;
}

.section-pass-list__filter-btn {
    width: 145px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    border-radius: 60px;
    border: 1px solid #696969;
}

.section-pass-list__table {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.section-pass-list__table-header {
    width: 100%;
    margin-bottom: 14px;
    font-size: 14px;
    color: #696969;
    display: grid;
    grid-template-columns: 70px 1fr 270px 1fr 290px 1fr 55px;
}

.section-pass-list__table-header-text-pass {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}

.section-pass-list__table-header-text-name {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
}

.section-pass-list__table-header-text-time {
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
}

.section-pass-list__table-header-text-status {
    grid-column: 7 / 8;
    display: flex;
    align-items: center;
}

.section-pass-list__table-item {
    width: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 270px 1fr 290px 1fr 55px;
}

.section-pass-list__table-item-img {
    grid-column: 1 / 2;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-pass-list__table-item-text-name {
    font-size: 16px;
    color: #4E4E4E;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
}

.section-pass-list__table-item-text-time {
    font-size: 14px;
    color: #4E4E4E;
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
}

.section-pass-list__table-item-icon {
    grid-column: 7 / 8;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* MAIN EVENT LIST */

.section-event-list {
    height: 820px;
    background-color: var(--color-white);
    padding-top: 40px;
}

.section-event-list__search-wrapper {
    position: relative;
}

.section-event-list__search-wrapper--mb {
    margin-bottom: 20px;
}

.section-event-list__search-icon {
    position: absolute;
    left: 10px;
    top: 2px;
}

.section-event-list__search {
    width: 100%;
    border: none;
    padding-left: 40px;
    border-bottom: 1px #D0CECE solid;
    color: #565F82;
}

.section-event-list__title {
    font-size: 48px;
    color: #3D4F9F;
    margin: 0;
}

.section-event-list__title--mb {
    margin-bottom: 20px;
}

.section-event-list__filter {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.section-event-list__filter--mb {
    margin-bottom: 35px;
}

.section-event-list__filter-text {
    font-size: 16px;
    color: #3D4F9F;
    margin-right: 16px;
}

.section-event-list__filter-btn {
    width: 145px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    border-radius: 60px;
    border: 1px solid #696969;
}

.section-event-list__table {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.section-event-list__table-header {
    width: 100%;
    margin-bottom: 14px;
    font-size: 14px;
    color: #696969;
    display: grid;
    grid-template-columns: 70px 1fr 270px 1fr 290px 1fr 85px;
}

.section-event-list__table-header-text-icon {
    color: transparent;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}

.section-event-list__table-header-text-event {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
}

.section-event-list__table-header-text-name {
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
}

.section-event-list__table-header-text-date {
    grid-column: 7 / 8;
    display: flex;
    align-items: center;
}

.section-event-list__table-item {
    width: 100%;
    font-size: 16px;
    color: #4E4E4E;
    display: grid;
    grid-template-columns: 70px 1fr 270px 1fr 290px 1fr 85px;
}

.section-event-list__table-item-img {
    grid-column: 1 / 2;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-event-list__table-item-text-event {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
}

.section-event-list__table-item-text-name {
    grid-column: 5 / 6;
    display: flex;
    align-items: center;
}

.section-event-list__table-item-text-date {
    grid-column: 7 / 8;
    display: flex;
    align-items: center;
}

